---
version: '3'
services:
  postgres:
    image: "postgres:16.3"
    ports:
      - "2345:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ${PWD}/local-db-init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  database-data:

networks:
  my-net:
    driver: bridge