server:
  port: 8080
  servlet:
    context-path: /ditt-nav-arbeidsgiver-api

management.endpoints.web:
  exposure.include: info, health, metrics, prometheus
  base-path: /internal/actuator

spring:
  profiles:
    active: dev

---

spring:
  profiles: dev

no.nav.security.oidc:
  issuers: selvbetjening
  issuer:
    selvbetjening:
      discoveryurl: http://metadata-selvbetjening
      accepted_audience: aud-localhost

mock:
  enabled: true
  port: 8081
  aktorPort: 8082

sts:
  stsPass: "mockpass"
  stsUrl: "http://localhost:${mock.port}/sts"

aktorregister:
  aktorUrl: "http://localhost:${mock.port}/aktoerregister/api/v1/identer"

altinn:
  altinnUrl: "http://localhost:${mock.port}/altinn/"
  altinnHeader: "test"
  APIGwHeader: "test"

pdl:
  pdlUrl: "http://localhost:${mock.port}/graphql"

digisyfo:
  digisyfoUrl: "http://localhost:${mock.port}/digisyfo/api/"
  sykemeldteURL: "http://localhost:${mock.port}/syforest/sykmeldinger"
  syfooppgaveurl: "http://localhost:${mock.port}/syforest/oppgaver"

aareg:
  aaregUrl: "http://localhost:${mock.port}/aareg-services/api/v1/arbeidsgiver/arbeidsforholdoversikt"

aad:
  aadAccessTokenURL: "http://localhost:${mock.port}/aad"

unleash:
  url: "https://unleash.herokuapp.com/api/"
---

spring:
  profiles: preprod

digisyfo:
  digisyfoUrl: "https://syfoarbeidsgivertilgang.nais.preprod.local/api/"
  sykemeldteURL: "https://tjenester-q1.nav.no/syforest/sykmeldinger"
  syfooppgaveurl: "https://tjenester-q1.nav.no/syforest/oppgaver"


aareg:
  aaregUrl: "https://modapp-q0.adeo.no/aareg-services/api/v1/arbeidsgiver/arbeidsforholdoversikt"

sts:
  stsPass: ${STS_PASS}
  stsUrl: https://security-token-service.nais.preprod.local/rest/v1/sts/token

aktorregister:
  aktorUrl: "https://app-q1.adeo.no/aktoerregister/api/v1/identer"

aad:
  aadAccessTokenURL: "https://login.microsoftonline.com/navq.onmicrosoft.com/oauth2/token"
  azureClientSecret:  ${AZURE_CLIENT_SECRET}
  clientid: 1b1bf278-3c28-4003-a528-b595d800afb0
  scope: 3f567c84-4912-4acf-88ef-9f0dcfc2ae2b

no.nav.security.oidc:
  issuers: selvbetjening
  issuer:
    selvbetjening:
      discoveryurl: https://login.microsoftonline.com/NAVtestB2C.onmicrosoft.com/v2.0/.well-known/openid-configuration?p=B2C_1A_idporten_ver1
      accepted_audience: 0090b6e1-ffcc-4c37-bc21-049f7d1f0fe5

altinn:
  altinnUrl: "https://api-gw-q1.adeo.no/ekstern/altinn/api/serviceowner/"
  altinnHeader: ${ALTINN_HEADER}
  APIGwHeader: ${APIGW_HEADER}

unleash:
  url: ${UNLEASH_URL}

pdl:
  pdlUrl: "https://pdl-api.nais.preprod.local/graphql"


---

spring:
  profiles: prod

digisyfo:
  digisyfoUrl: "https://syfoarbeidsgivertilgang.nais.adeo.no/api/"
  sykemeldteURL: "https://tjenester.nav.no/syforest/sykmeldinger"
  syfooppgaveurl: "https://tjenester.nav.no/syforest/oppgaver"

aktorregister:
  aktorUrl: "https://app.adeo.no/aktoerregister/api/v1/identer"

sts:
  stsPass: ${STS_PASS}
  stsUrl: https://security-token-service.nais.adeo.no/rest/v1/sts/token

aad:
  aadAccessTokenURL: "https://login.microsoftonline.com/navno.onmicrosoft.com/oauth2/token"
  azureClientSecret:  ${AZURE_CLIENT_SECRET}
  clientid: ${AZURE_CLIENT_ID}
  scope: 24059ae3-654d-4aaf-9c04-a1cb7b510bb4

no.nav.security.oidc:
  issuers: selvbetjening
  issuer:
    selvbetjening:
      discoveryurl: https://login.microsoftonline.com/navnob2c.onmicrosoft.com/v2.0/.well-known/openid-configuration?p=B2C_1A_idporten
      accepted_audience: 45104d6a-f5bc-4e8c-b352-4bbfc9381f25

altinn:
  altinnUrl: "https://api-gw.adeo.no/ekstern/altinn/api/serviceowner/"
  altinnHeader: ${ALTINN_HEADER}
  APIGwHeader: ${APIGW_HEADER}

unleash:
  url: ${UNLEASH_URL}

pdl:
  pdlUrl: "https://pdl-api.nais.adeo.no/graphql"


