server:
  port: 8080
  servlet:
    context-path: /ditt-nav-arbeidsgiver-api

management.endpoints.web:
  exposure.include: info, health, metrics, prometheus
  base-path: /internal/actuator

spring:
  profiles:
    active: local

---

spring:
  profiles: local

nais.cluster.name: local

no.nav.security.jwt.issuer.selvbetjening:
  discoveryurl: http://metadata-selvbetjening
  accepted_audience: aud-localhost
  cookiename: localhost-idtoken

mock:
  enabled: true
  port: 8081
  aktorPort: 8082

sts:
  stsPass: "mockpass"
  stsUrl: "http://localhost:${mock.port}/sts"

aktorregister:
  aktorUrl: "http://localhost:${mock.port}/aktoerregister/api/v1/identer"

altinn:
  altinnHeader: "test"
  APIGwHeader: "test"
  proxyUrl: http://localhost:${mock.port}/altinn-rettigheter-proxy
  proxyFallbackUrl: http://localhost:${mock.port}/altinn

digisyfo:
  digisyfoUrl: "http://localhost:${mock.port}/digisyfo/api/"
  sykemeldteURL: "http://localhost:${mock.port}/syforest/sykmeldinger"
  syfooppgaveurl: "http://localhost:${mock.port}/syforest/oppgaver"

aad:
  aadAccessTokenURL: "http://localhost:${mock.port}/aad"

unleash:
  url: "https://unleash.herokuapp.com/api/"

---

spring:
  profiles: dev

digisyfo:
  digisyfoUrl: "https://syfoarbeidsgivertilgang.nais.preprod.local/api/"
  sykemeldteURL: "https://tjenester-q1.nav.no/syforest/sykmeldinger"
  syfooppgaveurl: "https://tjenester-q1.nav.no/syforest/oppgaver"

sts:
  stsPass: ${STS_PASS}
  stsUrl: https://security-token-service.nais.preprod.local/rest/v1/sts/token

aktorregister:
  aktorUrl: "https://app-q1.adeo.no/aktoerregister/api/v1/identer"

aad:
  aadAccessTokenURL: "https://login.microsoftonline.com/navq.onmicrosoft.com/oauth2/token"
  azureClientSecret:  ${AZURE_CLIENT_SECRET}
  clientid: 1b1bf278-3c28-4003-a528-b595d800afb0
  scope: 3f567c84-4912-4acf-88ef-9f0dcfc2ae2b

no.nav.security.jwt.issuer.selvbetjening:
  discoveryurl: https://navtestb2c.b2clogin.com/navtestb2c.onmicrosoft.com/v2.0/.well-known/openid-configuration?p=B2C_1A_idporten_ver1
  accepted_audience: 0090b6e1-ffcc-4c37-bc21-049f7d1f0fe5
  cookiename: selvbetjening-idtoken
  proxyurl: http://webproxy.nais:8088

altinn:
  altinnHeader: ${ALTINN_HEADER}
  APIGwHeader: ${APIGW_HEADER}
  proxyUrl: https://arbeidsgiver.nais.preprod.local/altinn-rettigheter-proxy
  proxyFallbackUrl: https://api-gw-q1.adeo.no


unleash:
  url: https://unleash.nais.adeo.no/api

yrkeskodeverk:
  yrkeskodeUrl: "https://kodeverk.nais.preprod.local/api/v1/kodeverk/Yrker/koder/betydninger?spraak=nb"

---

spring:
  profiles: prod

digisyfo:
  digisyfoUrl: "https://syfoarbeidsgivertilgang.nais.adeo.no/api/"
  sykemeldteURL: "https://tjenester.nav.no/syforest/sykmeldinger"
  syfooppgaveurl: "https://tjenester.nav.no/syforest/oppgaver"

aktorregister:
  aktorUrl: "https://app.adeo.no/aktoerregister/api/v1/identer"

sts:
  stsPass: ${STS_PASS}
  stsUrl: https://security-token-service.nais.adeo.no/rest/v1/sts/token

aad:
  aadAccessTokenURL: "https://login.microsoftonline.com/navno.onmicrosoft.com/oauth2/token"
  azureClientSecret:  ${AZURE_CLIENT_SECRET}
  clientid: ${AZURE_CLIENT_ID}
  scope: 24059ae3-654d-4aaf-9c04-a1cb7b510bb4

no.nav.security.jwt.issuer.selvbetjening:
  discoveryurl: https://navnob2c.b2clogin.com/navnob2c.onmicrosoft.com/v2.0/.well-known/openid-configuration?p=B2C_1A_idporten
  accepted_audience: 45104d6a-f5bc-4e8c-b352-4bbfc9381f25
  cookiename: selvbetjening-idtoken
  proxyurl: http://webproxy.nais:8088

altinn:
  altinnHeader: ${ALTINN_HEADER}
  APIGwHeader: ${APIGW_HEADER}
  proxyUrl: https://arbeidsgiver.nais.adeo.no/altinn-rettigheter-proxy
  proxyFallbackUrl: https://api-gw.adeo.no

unleash:
  url: https://unleash.nais.adeo.no/api
