<configuration scan="true">
    <springProfile name="preprod,prod">
        <appender name="consoleAppender"  class="no.nav.log.MaskingAppender">
            <appender name="stdout_json_masked" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
            </appender>
        </appender>
        <logger name="jsonLogger" additivity="false" level="DEBUG">
            <appender-ref ref="consoleAppender"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="consoleAppender"/>
        </root>
        <logger name="org.springframework.cache" level="trace">
            <appender-ref ref="consoleAppender" />
        </logger>
    </springProfile>
    <springProfile name="dev">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <logger name="org.springframework.web" level="DEBUG"/>
    </springProfile>
</configuration>