<configuration scan="true">
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
                <valueMask>
                    <value>(^|\D)\d{11}(?=$|\D)</value>
                    <mask>$1***********</mask>
                </valueMask>
                <valueMask>
                    <value>\d{9}</value>
                    <value>\d{11}</value>
                    <value>\d{6}\s\d{5}</value>
                    <mask>***********</mask>
                </valueMask>
            </jsonGeneratorDecorator>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>