name: Test, bygg, deploy
on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 1'

jobs:
  bygg:
    name: Bygg
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
    services:
      postgres:
        image: postgres:16.3
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 2345:5432
    steps:
      - uses: actions/checkout@v4
      - run: PGPASSWORD=postgres psql -U postgres -h localhost -p 2345 -f ./local-db-init.sql
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
          cache: maven

      - run: mvn -B package

      - uses: nais/docker-build-push@v0
        id: gar-push
        with:
          team: fager
          tag: ${{ github.sha }}

  deploy-dev-gcp:
    permissions:
      contents: "read"
      id-token: "write"
    name: Deploy dev (dev-gcp)
    needs: bygg
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4
      - uses: nais/login@v0
        id: login
        with:
          team: fager
      - uses: nais/deploy/actions/deploy@v2
        env:
          VAR: image=${{ steps.login.outputs.registry }}/min-side-arbeidsgiver-api:${{ github.sha }}
          RESOURCE: nais/dev-env.yaml
          CLUSTER: dev-gcp

  deploy-prod-gcp:
    permissions:
      contents: "read"
      id-token: "write"
    name: Deploy prod (prod-gcp)
    needs: deploy-dev-gcp
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nais/login@v0
        id: login
        with:
          team: fager
      - uses: nais/deploy/actions/deploy@v2
        env:
          VAR: image=${{ steps.login.outputs.registry }}/min-side-arbeidsgiver-api:${{ github.sha }}
          RESOURCE: nais/prod-env.yaml
          CLUSTER: prod-gcp

