name: Test, bygg, deploy
on:
  push:
  workflow_dispatch:

env:
  IMAGE: docker.pkg.github.com/${{ github.repository }}/ditt-nav-arbeidsgiver-api:${{ github.sha }}

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 11

      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - run: mvn -B -Dsurefire.useFile=false test

  bygg:
    name: Bygg
    needs: test
    ### VALG AV DEV-BRANCH SETTES HER:
    if: needs.test.result == 'success' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/filtrer_delegationrequest_fnr')
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 11

    - uses: actions/cache@v1
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - run: mvn -B -DskipTests package

    - name: Bygg, tag og push Docker-image
      run: |
        docker build --tag $IMAGE .
        echo ${{ secrets.GITHUB_TOKEN }} | docker login docker.pkg.github.com -u $GITHUB_REPOSITORY --password-stdin
        docker push $IMAGE

  deploy-dev-fss:
    name: Deploy to dev-fss
    needs: bygg
    if: needs.bygg.result == 'success'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-fss
          VAR: image=${{ env.IMAGE }}
          RESOURCE: nais/dev.yaml


  deploy-dev-gcp:
    name: Deploy to dev-gcp
    needs: bygg
    if: needs.bygg.result == 'success'
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v1
      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          VAR: image=${{ env.IMAGE }}
          RESOURCE: nais/dev-gcp.yaml


  deploy-labs-gcp:
    name: Deploy to labs-gcp
    needs: bygg
    if: needs.bygg.result == 'success' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: labs-gcp
          VAR: image=${{ env.IMAGE }}
          RESOURCE: nais/labs-gcp.yaml

  deploy-prod-fss:
    name: Deploy to prod-fss
    needs: deploy-dev-fss
    if: needs.deploy-dev-fss.result == 'success' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: prod-fss
          VAR: image=${{ env.IMAGE }}
          RESOURCE: nais/prod.yaml

  deploy-prod-gcp:
    name: Deploy to prod-gcp
    needs: deploy-dev-gcp
    if: needs.deploy-dev-gcp.result == 'success' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: prod-gcp
          VAR: image=${{ env.IMAGE }}
          RESOURCE: nais/prod-gcp.yaml

